.block1{background-color:green; border: thin black dashed;}
.msgblock{background-color:orange; width:500px; border:thin black inset; height:900px; position:absolute; top:25px; left:400px;}
.lonj{background-color:blue; border:thin black inset; width:425px;}
