{% extends "layout.html" %}
{% block body %}

<form role="form" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="body">Description</label>
    <textarea class="form-control" rows="6" name="body" placeholder="What's your story?"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}