{% extends "layout.html" %}
{% block body %}

<!--/stories-->
{% if posts.count() > 0 %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}

<tr>
  <td>{{post.id}}</td>
  <td>{{post.title}}</td>
  <td>
    <script>document.write(convertTimestamp({{post.addeddate}}));</script>
  </td>
  <td>
    <a class="btn btn-default btn-xs btn-primary" href="{{url_for('edit_post', postid = post.id)}}">Edit</a>
    <a class="btn btn-default btn-xs btn-danger" href="{{url_for('delete_post', postid = post.id)}}">Delete</a>
  </td>
</tr>

{% endfor %}
</tbody>
</table>
<!--/stories-->


<!--<a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>-->
{% else %}
<h1 style="padding: 75px" align="center">There is no posts yet. :'(</h1>
{% endif %}

{% endblock %}