<html>
<head>
<title> Personal </title>
<link rel = "stylesheet" href = "/static/land.css"/>
</head>
<body>
<div class = "block1">  </div>
<div class = "msgblock"> 
{% for lists in buflist %}
<div> {{ bufidc[bufz] }} </div>
<div> {{ buflogin }} </div>
<div> {{ buftime[bufz] }} </div>
<div class = "lonj"> 
  {{ lists }} 
</div> </br>
<button> value </button>
{{ bufz }}
{% endfor %}
</div>
<form method = "POST" action = "add1" class = "writepanel">
<p> Write your comment </p>
<input type = "text" name = "idc"/><br> <br>
<textarea name = "bufcom" cols = "40" rows = "5"> </textarea> <br> <br>
<input type = "submit" value = "add"/>
</form> 
<br> <br>
<form method = "POST" action = "change1" name = "form2">
<select name = "select1" cols = "40">
{% for listto in buflist %}
<option> {{ listto }} </option>
{% endfor %}
</select>
</body>
</html>
