<html>
<head>
<title> Personal </title>
<link rel = "stylesheet" href = "/static/style.css"/>
</head>
<body>
<div class = "block1"> KKKKK </div>
<div class = "msgblock"> 
{% for lists in buflist %}
    
{% endfor %}
</div> 																																																																																																																																																																																																																																																																																																																																																			</body>
</html>
