<html>
<head>
<title> select </title>
<link rel = "stylesheet" href = "/static/style.css"/>
</head>
<body>
</br> <div class = "block1"> css </div> </br>
<div>
{% for res1 in r1 : %}
<div class = "block1"> {{ res1 }} </div> </br>
{% endfor %}
</div>
<br> <br>
<form method = "POST" action = "add" name = "form1">
<p> Value1 </p> <br>
<input type = "text" name = "value1"/> <br>
<p> Value2 </p> <br>
<input type = "text" name = "value2"/> <br>
<input type = "submit" value = "send"/>
</form>
</body>
</html>
