.block1{background-color:green; border: thin black dashed;}
.msgblock{background-color:green; width:500px; height:900px; position:absolute; top:25px; left:400px;}
.lonj{background-color:red; border:thin black inset; width:175px;}
