<html>
<head>
<title> test44 </title>
<link rel = "stylesheet" href = "style.css"/>
</head>
<body>
<br> <br> <br>
<form method = "POST">
<div> Write sentence </div>
<input type = "text" name = "firstv"/>
<br/>
<input type="submit" value = "send" id = "link"/>
</form>
<br> <br>
<div>
{% for lis1 in l1 %}
 <font color = "green"> {{ lis1 }} </font><br/>
{% endfor %}
</div>
</body>
</html>
