{% extends "layout.html" %}
{% block body %}

<!--/stories-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<div class="row">  <br>
  <!--<div class="col-md-2 col-sm-3 text-center">
    <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
  </div>-->
  <div class="col-md-12 col-sm-9">
    <h3><a class="" href="{{url_for('get_post', postid = post.id)}}">{{post.title}}</a></h3>
    <div class="row">
      <div class="col-xs-12">
        <p>{{post.body}}</p>
        
        <!--/tags-->
        <!--<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>-->
        <!--/tags-->

        <ul class="list-inline pull-left" style="padding-top: 20px"><li><a href="#">Added on <script>document.write(convertTimestamp({{post.addeddate}}));</script></a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 34 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <br><br>
  </div>
</div>
<!--/stories-->


<!--<a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>-->
<!--<h1 style="padding: 75px" align="center">There is no posts yet. :'(</h1>-->

{% endblock %}